## EDA on Expedia Hotel Reservation

In [1]:
import pandas as pd
import numpy as np
import warnings

In [2]:
df_test_data = pd.read_csv("data/test.csv", nrows=5000)
df_test_data.head()

,id,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,...,srch_ci,srch_co,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,hotel_continent,hotel_country,hotel_market
0,0,2015-09-03 17:09:54,2,3,66,174,37449,5539.0567,1,1,...,2016-05-19,2016-05-23,2,0,1,12243,6,6,204,27
1,1,2015-09-24 17:38:35,2,3,66,174,37449,5873.2923,1,1,...,2016-05-12,2016-05-15,2,0,1,14474,7,6,204,1540
2,2,2015-06-07 15:53:02,2,3,66,142,17440,3975.9776,20,0,...,2015-07-26,2015-07-27,4,0,1,11353,1,2,50,699
3,3,2015-09-14 14:49:10,2,3,66,258,34156,1508.5975,28,0,...,2015-09-14,2015-09-16,2,0,1,8250,1,2,50,628
4,4,2015-07-17 09:32:04,2,3,66,467,36345,66.7913,50,0,...,2015-07-22,2015-07-23,2,0,1,11812,1,2,50,538

In [3]:
df_test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         5000 non-null   int64
 1   date_time                  5000 non-null   object
 2   site_name                  5000 non-null   int64
 3   posa_continent             5000 non-null   int64
 4   user_location_country      5000 non-null   int64
 5   user_location_region       5000 non-null   int64
 6   user_location_city         5000 non-null   int64
 7   orig_destination_distance  2627 non-null   float64
 8   user_id                    5000 non-null   int64
 9   is_mobile                  5000 non-null   int64
 10  is_package                 5000 non-null   int64
 11  channel                    5000 non-null   int64
 12  srch_ci                    5000 non-null   object
 13  srch_co                    5000 non-null   object
 14  srch_adults_cnt            5000 non-null   int64
 15  srch_children_cnt          5000 non-null   int64
 16  srch_rm_cnt                5000 non-null   int64
 17  srch_destination_id        5000 non-null   int64
 18  srch_destination_type_id   5000 non-null   int64
 19  hotel_continent            5000 non-null   int64
 20  hotel_country              5000 non-null   int64
 21  hotel_market               5000 non-null   int64
dtypes: float64(1), int64(18), object(3)
memory usage: 859.5+ KB

In [4]:
df_train_data = pd.read_csv("data/train.csv", nrows=20000)
df_train_data.head()

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,...,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
0,2014-08-11 07:46:59,2,3,66,348,48862,2234.2641,12,0,1,...,0,1,8250,1,0,3,2,50,628,1
1,2014-08-11 08:22:12,2,3,66,348,48862,2234.2641,12,0,1,...,0,1,8250,1,1,1,2,50,628,1
2,2014-08-11 08:24:33,2,3,66,348,48862,2234.2641,12,0,0,...,0,1,8250,1,0,1,2,50,628,1
3,2014-08-09 18:05:16,2,3,66,442,35390,913.1932,93,0,0,...,0,1,14984,1,0,1,2,50,1457,80
4,2014-08-09 18:08:18,2,3,66,442,35390,913.6259,93,0,0,...,0,1,14984,1,0,1,2,50,1457,21

In [5]:
df_train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   date_time                  20000 non-null  object
 1   site_name                  20000 non-null  int64
 2   posa_continent             20000 non-null  int64
 3   user_location_country      20000 non-null  int64
 4   user_location_region       20000 non-null  int64
 5   user_location_city         20000 non-null  int64
 6   orig_destination_distance  11868 non-null  float64
 7   user_id                    20000 non-null  int64
 8   is_mobile                  20000 non-null  int64
 9   is_package                 20000 non-null  int64
 10  channel                    20000 non-null  int64
 11  srch_ci                    19988 non-null  object
 12  srch_co                    19988 non-null  object
 13  srch_adults_cnt            20000 non-null  int64
 14  srch_children_cnt          20000 non-null  int64
 15  srch_rm_cnt                20000 non-null  int64
 16  srch_destination_id        20000 non-null  int64
 17  srch_destination_type_id   20000 non-null  int64
 18  is_booking                 20000 non-null  int64
 19  cnt                        20000 non-null  int64
 20  hotel_continent            20000 non-null  int64
 21  hotel_country              20000 non-null  int64
 22  hotel_market               20000 non-null  int64
 23  hotel_cluster              20000 non-null  int64
dtypes: float64(1), int64(20), object(3)
memory usage: 3.7+ MB

In [ ]:
df_test_data_cp = df_test_data.copy()
df_train_data_cp = df_train_data.copy()

In [31]:
df_test_data_cp.user_id.nunique()

2355

In [30]:
df_train_data_cp.user_id.nunique()

664

In [7]:
df_train_data.columns

Index(['date_time', 'site_name', 'posa_continent', 'user_location_country',
       'user_location_region', 'user_location_city',
       'orig_destination_distance', 'user_id', 'is_mobile', 'is_package',
       'channel', 'srch_ci', 'srch_co', 'srch_adults_cnt', 'srch_children_cnt',
       'srch_rm_cnt', 'srch_destination_id', 'srch_destination_type_id',
       'is_booking', 'cnt', 'hotel_continent', 'hotel_country', 'hotel_market',
       'hotel_cluster'],
      dtype='object')

# Steps

### Drop the orig_destination_distance column
### Convert the Date Columns from str to Timestamp
### Drop the Following Columns:
##### site_name
##### user_location_country
##### user_location_region
##### orig_destination_distance
##### user_id
##### hotel_continent
##### hotel_country

### We can use Sample function from Pandas to get (https://www.w3schools.com/python/pandas/ref_df_sample.asp)

In [8]:
df_train_data["hotel_cluster"].nunique()

100

In [9]:
df_train_data.isna().sum()

date_time                       0
site_name                       0
posa_continent                  0
user_location_country           0
user_location_region            0
user_location_city              0
orig_destination_distance    8132
user_id                         0
is_mobile                       0
is_package                      0
channel                         0
srch_ci                        12
srch_co                        12
srch_adults_cnt                 0
srch_children_cnt               0
srch_rm_cnt                     0
srch_destination_id             0
srch_destination_type_id        0
is_booking                      0
cnt                             0
hotel_continent                 0
hotel_country                   0
hotel_market                    0
hotel_cluster                   0
dtype: int64

In [10]:
df_test_data.isna().sum()

id                              0
date_time                       0
site_name                       0
posa_continent                  0
user_location_country           0
user_location_region            0
user_location_city              0
orig_destination_distance    2373
user_id                         0
is_mobile                       0
is_package                      0
channel                         0
srch_ci                         0
srch_co                         0
srch_adults_cnt                 0
srch_children_cnt               0
srch_rm_cnt                     0
srch_destination_id             0
srch_destination_type_id        0
hotel_continent                 0
hotel_country                   0
hotel_market                    0
dtype: int64

In [11]:
df_train_data.dropna(subset=["srch_ci", "srch_co"], inplace=True)

In [12]:
# Convert date_time to Unix timestamps for train data
df_train_data["date_time"] = pd.to_datetime(df_train_data["date_time"])
df_train_data["date_time"] = df_train_data["date_time"].astype("int64")
df_train_data["date_time"]

0        1407743219000000000
1        1407745332000000000
2        1407745473000000000
3        1407607516000000000
4        1407607698000000000
                ...
19995    1404163904000000000
19996    1404164060000000000
19997    1404164074000000000
19998    1404164101000000000
19999    1404205334000000000
Name: date_time, Length: 19988, dtype: int64

In [13]:
# Convert date_time to Unix timestamps for test data
df_test_data["date_time"] = pd.to_datetime(df_test_data["date_time"])
df_test_data["date_time"] = df_test_data["date_time"].astype("int64")
df_test_data["date_time"]

0       1441300194000000000
1       1443116315000000000
2       1433692382000000000
3       1442242150000000000
4       1437125524000000000
               ...
4995    1442459502000000000
4996    1422362957000000000
4997    1424085356000000000
4998    1430908238000000000
4999    1431336761000000000
Name: date_time, Length: 5000, dtype: int64

In [14]:
# Convert srch_ci to Unix timestamps for train data
df_train_data["srch_ci"] = pd.to_datetime(df_train_data["srch_ci"])
df_train_data["srch_ci"] = df_train_data["srch_ci"].astype("int64")
df_train_data["srch_ci"]

0        1409097600000000000
1        1409270400000000000
2        1409270400000000000
3        1416700800000000000
4        1416700800000000000
                ...
19995    1404259200000000000
19996    1404432000000000000
19997    1404259200000000000
19998    1404259200000000000
19999    1404259200000000000
Name: srch_ci, Length: 19988, dtype: int64

In [15]:
# Convert srch_ci to Unix timestamps for test data
df_test_data["srch_ci"] = pd.to_datetime(df_test_data["srch_ci"])
df_test_data["srch_ci"] = df_test_data["srch_ci"].astype("int64")
df_test_data["srch_ci"]

0       1463616000000000000
1       1463011200000000000
2       1437868800000000000
3       1442188800000000000
4       1437523200000000000
               ...
4995    1447977600000000000
4996    1422403200000000000
4997    1424649600000000000
4998    1431993600000000000
4999    1433376000000000000
Name: srch_ci, Length: 5000, dtype: int64

In [16]:
# Convert srch_co to Unix timestamps for train data
df_train_data["srch_co"] = pd.to_datetime(df_train_data["srch_co"])
df_train_data["srch_co"] = df_train_data["srch_co"].astype("int64")
df_train_data["srch_co"]

0        1409443200000000000
1        1409616000000000000
2        1409616000000000000
3        1417132800000000000
4        1417132800000000000
                ...
19995    1404432000000000000
19996    1404691200000000000
19997    1404432000000000000
19998    1404432000000000000
19999    1404432000000000000
Name: srch_co, Length: 19988, dtype: int64

In [17]:
# Convert srch_co to Unix timestamps for test data
df_test_data["srch_co"] = pd.to_datetime(df_test_data["srch_co"])
df_test_data["srch_co"] = df_test_data["srch_co"].astype("int64")
df_test_data["srch_co"]

0       1463961600000000000
1       1463270400000000000
2       1437955200000000000
3       1442361600000000000
4       1437609600000000000
               ...
4995    1448064000000000000
4996    1422489600000000000
4997    1424736000000000000
4998    1432080000000000000
4999    1433462400000000000
Name: srch_co, Length: 5000, dtype: int64

In [18]:
df_train_data = df_train_data.drop(["orig_destination_distance", "user_id"], axis=1)
df_train_data

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,is_mobile,is_package,channel,srch_ci,...,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
0,1407743219000000000,2,3,66,348,48862,0,1,9,1409097600000000000,...,0,1,8250,1,0,3,2,50,628,1
1,1407745332000000000,2,3,66,348,48862,0,1,9,1409270400000000000,...,0,1,8250,1,1,1,2,50,628,1
2,1407745473000000000,2,3,66,348,48862,0,0,9,1409270400000000000,...,0,1,8250,1,0,1,2,50,628,1
3,1407607516000000000,2,3,66,442,35390,0,0,3,1416700800000000000,...,0,1,14984,1,0,1,2,50,1457,80
4,1407607698000000000,2,3,66,442,35390,0,0,3,1416700800000000000,...,0,1,14984,1,0,1,2,50,1457,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,1404163904000000000,2,3,66,220,33119,0,0,7,1404259200000000000,...,0,1,12583,5,0,3,6,127,141,67
19996,1404164060000000000,2,3,66,220,33119,0,0,7,1404432000000000000,...,0,1,12583,5,0,1,6,127,141,86
19997,1404164074000000000,2,3,66,220,33119,0,0,7,1404259200000000000,...,0,1,12583,5,0,1,6,127,141,86
19998,1404164101000000000,2,3,66,220,33119,0,0,7,1404259200000000000,...,0,1,12583,5,0,1,6,127,141,58
19999,1404205334000000000,2,3,66,220,33119,0,0,0,1404259200000000000,...,0,1,12583,5,0,1,6,127,141,67

In [19]:
df_test_data = df_test_data.drop(["orig_destination_distance", "user_id"], axis=1)
df_test_data

,id,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,is_mobile,is_package,channel,srch_ci,srch_co,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,hotel_continent,hotel_country,hotel_market
0,0,1441300194000000000,2,3,66,174,37449,1,0,3,1463616000000000000,1463961600000000000,2,0,1,12243,6,6,204,27
1,1,1443116315000000000,2,3,66,174,37449,1,0,10,1463011200000000000,1463270400000000000,2,0,1,14474,7,6,204,1540
2,2,1433692382000000000,2,3,66,142,17440,0,0,1,1437868800000000000,1437955200000000000,4,0,1,11353,1,2,50,699
3,3,1442242150000000000,2,3,66,258,34156,0,1,10,1442188800000000000,1442361600000000000,2,0,1,8250,1,2,50,628
4,4,1437125524000000000,2,3,66,467,36345,0,0,0,1437523200000000000,1437609600000000000,2,0,1,11812,1,2,50,538
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4995,1442459502000000000,2,3,66,363,48681,0,0,2,1447977600000000000,1448064000000000000,2,0,1,25800,6,2,50,696
4996,4996,1422362957000000000,2,3,66,311,32757,0,0,1,1422403200000000000,1422489600000000000,1,0,1,7635,3,2,50,675
4997,4997,1424085356000000000,2,3,66,311,32757,0,0,9,1424649600000000000,1424736000000000000,1,0,1,12189,6,2,50,637
4998,4998,1430908238000000000,2,3,66,311,42768,0,0,10,1431993600000000000,1432080000000000000,1,0,1,8287,1,2,198,397
4999,4999,1431336761000000000,2,3,66,311,32757,0,0,10,1433376000000000000,1433462400000000000,1,0,1,8253,1,6,70,19

In [20]:
df_train_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19988 entries, 0 to 19999
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date_time                 19988 non-null  int64
 1   site_name                 19988 non-null  int64
 2   posa_continent            19988 non-null  int64
 3   user_location_country     19988 non-null  int64
 4   user_location_region      19988 non-null  int64
 5   user_location_city        19988 non-null  int64
 6   is_mobile                 19988 non-null  int64
 7   is_package                19988 non-null  int64
 8   channel                   19988 non-null  int64
 9   srch_ci                   19988 non-null  int64
 10  srch_co                   19988 non-null  int64
 11  srch_adults_cnt           19988 non-null  int64
 12  srch_children_cnt         19988 non-null  int64
 13  srch_rm_cnt               19988 non-null  int64
 14  srch_destination_id       19988 non-null  int64
 15  srch_destination_type_id  19988 non-null  int64
 16  is_booking                19988 non-null  int64
 17  cnt                       19988 non-null  int64
 18  hotel_continent           19988 non-null  int64
 19  hotel_country             19988 non-null  int64
 20  hotel_market              19988 non-null  int64
 21  hotel_cluster             19988 non-null  int64
dtypes: int64(22)
memory usage: 3.5 MB

In [21]:
df_test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        5000 non-null   int64
 1   date_time                 5000 non-null   int64
 2   site_name                 5000 non-null   int64
 3   posa_continent            5000 non-null   int64
 4   user_location_country     5000 non-null   int64
 5   user_location_region      5000 non-null   int64
 6   user_location_city        5000 non-null   int64
 7   is_mobile                 5000 non-null   int64
 8   is_package                5000 non-null   int64
 9   channel                   5000 non-null   int64
 10  srch_ci                   5000 non-null   int64
 11  srch_co                   5000 non-null   int64
 12  srch_adults_cnt           5000 non-null   int64
 13  srch_children_cnt         5000 non-null   int64
 14  srch_rm_cnt               5000 non-null   int64
 15  srch_destination_id       5000 non-null   int64
 16  srch_destination_type_id  5000 non-null   int64
 17  hotel_continent           5000 non-null   int64
 18  hotel_country             5000 non-null   int64
 19  hotel_market              5000 non-null   int64
dtypes: int64(20)
memory usage: 781.4 KB

In [22]:
df_train_data.describe().T

,count,mean,std,min,25%,50%,75%,max
date_time,19988.0,1.396534e+18,1.748667e+16,1.357552e+18,1.383613e+18,1.401108e+18,1.410610e+18,1.420067e+18
site_name,19988.0,1.048279e+01,1.300351e+01,2.000000e+00,2.000000e+00,2.000000e+00,1.700000e+01,4.700000e+01
posa_continent,19988.0,2.566390e+00,7.914874e-01,0.000000e+00,2.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00
user_location_country,19988.0,8.009996e+01,5.225727e+01,0.000000e+00,6.600000e+01,6.600000e+01,6.900000e+01,2.390000e+02
user_location_region,19988.0,3.147849e+02,2.218635e+02,0.000000e+00,1.740000e+02,3.110000e+02,3.850000e+02,1.017000e+03
user_location_city,19988.0,2.836053e+04,1.684332e+04,3.000000e+00,1.273000e+04,2.862000e+04,4.289700e+04,5.645100e+04
is_mobile,19988.0,1.578947e-01,3.646514e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
is_package,19988.0,2.492495e-01,4.325894e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
channel,19988.0,5.626126e+00,3.687450e+00,0.000000e+00,2.000000e+00,9.000000e+00,9.000000e+00,9.000000e+00
srch_ci,19988.0,1.401134e+18,1.820116e+16,1.357603e+18,1.387930e+18,1.405555e+18,1.415232e+18,1.451261e+18
srch_co,19988.0,1.401424e+18,1.820761e+16,1.357949e+18,1.388362e+18,1.405814e+18,1.415491e+18,1.451693e+18
srch_adults_cnt,19988.0,2.039724e+00,9.487930e-01,0.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,9.000000e+00
srch_children_cnt,19988.0,3.244947e-01,7.237450e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,9.000000e+00
srch_rm_cnt,19988.0,1.141185e+00,5.998439e-01,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,8.000000e+00
srch_destination_id,19988.0,1.480935e+04,1.147704e+04,1.100000e+01,8.267000e+03,1.131900e+04,1.899800e+04,6.503500e+04
srch_destination_type_id,19988.0,2.576096e+00,2.167929e+00,1.000000e+00,1.000000e+00,1.000000e+00,5.000000e+00,8.000000e+00
is_booking,19988.0,7.899740e-02,2.697414e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
cnt,19988.0,1.477887e+00,1.184345e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,2.800000e+01
hotel_continent,19988.0,3.378327e+00,1.681366e+00,0.000000e+00,2.000000e+00,3.000000e+00,5.000000e+00,6.000000e+00
hotel_country,19988.0,8.111462e+01,5.378353e+01,0.000000e+00,5.000000e+01,5.000000e+01,1.050000e+02,2.120000e+02
hotel_market,19988.0,5.997687e+02,5.274627e+02,0.000000e+00,1.500000e+02,5.570000e+02,7.240000e+02,2.107000e+03
hotel_cluster,19988.0,5.000390e+01,2.861383e+01,0.000000e+00,2.600000e+01,5.000000e+01,7.300000e+01,9.900000e+01

In [23]:
df_test_data.describe().T

,count,mean,std,min,25%,50%,75%,max
id,5000.0,2.499500e+03,1.443520e+03,0.000000e+00,1.249750e+03,2.499500e+03,3.749250e+03,4.999000e+03
date_time,5000.0,1.435224e+18,8.784598e+15,1.420685e+18,1.427404e+18,1.435262e+18,1.442314e+18,1.451587e+18
site_name,5000.0,1.318960e+01,1.225188e+01,2.000000e+00,2.000000e+00,8.000000e+00,2.400000e+01,5.200000e+01
posa_continent,5000.0,2.446600e+00,8.570270e-01,0.000000e+00,2.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00
user_location_country,5000.0,6.962760e+01,5.955526e+01,0.000000e+00,4.600000e+01,6.600000e+01,6.800000e+01,2.390000e+02
user_location_region,5000.0,2.778414e+02,2.170697e+02,0.000000e+00,7.100000e+01,2.550000e+02,3.540000e+02,1.012000e+03
user_location_city,5000.0,2.620428e+04,1.737131e+04,3.200000e+01,9.042000e+03,2.553800e+04,4.194900e+04,5.650700e+04
is_mobile,5000.0,1.334000e-01,3.400405e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
is_package,5000.0,1.100000e-01,3.129211e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
channel,5000.0,6.084000e+00,3.906865e+00,0.000000e+00,2.000000e+00,9.000000e+00,1.000000e+01,1.000000e+01
srch_ci,5000.0,1.439024e+18,9.861174e+15,1.420675e+18,1.431626e+18,1.438819e+18,1.445753e+18,1.482365e+18
srch_co,5000.0,1.439232e+18,9.885122e+15,1.420762e+18,1.431821e+18,1.439078e+18,1.445904e+18,1.482624e+18
srch_adults_cnt,5000.0,1.923000e+00,8.919810e-01,0.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,9.000000e+00
srch_children_cnt,5000.0,2.014000e-01,6.086971e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.000000e+00
srch_rm_cnt,5000.0,1.116400e+00,4.414635e-01,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,8.000000e+00
srch_destination_id,5000.0,1.657261e+04,1.308753e+04,1.100000e+01,8.267000e+03,1.199300e+04,2.311600e+04,6.576800e+04
srch_destination_type_id,5000.0,2.855400e+00,2.258121e+00,1.000000e+00,1.000000e+00,1.000000e+00,6.000000e+00,9.000000e+00
hotel_continent,5000.0,3.182000e+00,1.715536e+00,0.000000e+00,2.000000e+00,2.000000e+00,4.000000e+00,6.000000e+00
hotel_country,5000.0,8.721220e+01,5.481481e+01,0.000000e+00,5.000000e+01,5.000000e+01,1.240000e+02,2.120000e+02
hotel_market,5000.0,6.212116e+02,5.241501e+02,1.000000e+00,1.910000e+02,5.690000e+02,8.297500e+02,2.116000e+03

In [24]:
df_train_data.shape

(19988, 22)

In [25]:
df_test_data.shape

(5000, 20)

In [26]:
display(df_test_data.columns)
display(df_train_data.columns)

Index(['id', 'date_time', 'site_name', 'posa_continent',
       'user_location_country', 'user_location_region', 'user_location_city',
       'is_mobile', 'is_package', 'channel', 'srch_ci', 'srch_co',
       'srch_adults_cnt', 'srch_children_cnt', 'srch_rm_cnt',
       'srch_destination_id', 'srch_destination_type_id', 'hotel_continent',
       'hotel_country', 'hotel_market'],
      dtype='object')

Index(['date_time', 'site_name', 'posa_continent', 'user_location_country',
       'user_location_region', 'user_location_city', 'is_mobile', 'is_package',
       'channel', 'srch_ci', 'srch_co', 'srch_adults_cnt', 'srch_children_cnt',
       'srch_rm_cnt', 'srch_destination_id', 'srch_destination_type_id',
       'is_booking', 'cnt', 'hotel_continent', 'hotel_country', 'hotel_market',
       'hotel_cluster'],
      dtype='object')

In [27]:
diff1 = [item for item in df_test_data.columns if item not in df_train_data.columns]
print(diff1)

diff2 = [item for item in df_train_data.columns if item not in df_test_data.columns]
print(diff2)

['id']
['is_booking', 'cnt', 'hotel_cluster']