## EDA on Expedia Hotel Reservation

In [3]:
import pandas as pd
import numpy as np
import warnings

In [4]:
test_data = pd.read_csv('data/test.csv', nrows=2500)

test_data.head()

,id,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,...,srch_ci,srch_co,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,hotel_continent,hotel_country,hotel_market
0,0,2015-09-03 17:09:54,2,3,66,174,37449,5539.0567,1,1,...,2016-05-19,2016-05-23,2,0,1,12243,6,6,204,27
1,1,2015-09-24 17:38:35,2,3,66,174,37449,5873.2923,1,1,...,2016-05-12,2016-05-15,2,0,1,14474,7,6,204,1540
2,2,2015-06-07 15:53:02,2,3,66,142,17440,3975.9776,20,0,...,2015-07-26,2015-07-27,4,0,1,11353,1,2,50,699
3,3,2015-09-14 14:49:10,2,3,66,258,34156,1508.5975,28,0,...,2015-09-14,2015-09-16,2,0,1,8250,1,2,50,628
4,4,2015-07-17 09:32:04,2,3,66,467,36345,66.7913,50,0,...,2015-07-22,2015-07-23,2,0,1,11812,1,2,50,538

In [5]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         2500 non-null   int64
 1   date_time                  2500 non-null   object
 2   site_name                  2500 non-null   int64
 3   posa_continent             2500 non-null   int64
 4   user_location_country      2500 non-null   int64
 5   user_location_region       2500 non-null   int64
 6   user_location_city         2500 non-null   int64
 7   orig_destination_distance  1266 non-null   float64
 8   user_id                    2500 non-null   int64
 9   is_mobile                  2500 non-null   int64
 10  is_package                 2500 non-null   int64
 11  channel                    2500 non-null   int64
 12  srch_ci                    2500 non-null   object
 13  srch_co                    2500 non-null   object
 14  srch_adults_cnt            2500 non-null   int64
 15  srch_children_cnt          2500 non-null   int64
 16  srch_rm_cnt                2500 non-null   int64
 17  srch_destination_id        2500 non-null   int64
 18  srch_destination_type_id   2500 non-null   int64
 19  hotel_continent            2500 non-null   int64
 20  hotel_country              2500 non-null   int64
 21  hotel_market               2500 non-null   int64
dtypes: float64(1), int64(18), object(3)
memory usage: 429.8+ KB

In [6]:
train_data = pd.read_csv('data/train.csv', nrows=7500)

train_data

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,...,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
0,2014-08-11 07:46:59,2,3,66,348,48862,2234.2641,12,0,1,...,0,1,8250,1,0,3,2,50,628,1
1,2014-08-11 08:22:12,2,3,66,348,48862,2234.2641,12,0,1,...,0,1,8250,1,1,1,2,50,628,1
2,2014-08-11 08:24:33,2,3,66,348,48862,2234.2641,12,0,0,...,0,1,8250,1,0,1,2,50,628,1
3,2014-08-09 18:05:16,2,3,66,442,35390,913.1932,93,0,0,...,0,1,14984,1,0,1,2,50,1457,80
4,2014-08-09 18:08:18,2,3,66,442,35390,913.6259,93,0,0,...,0,1,14984,1,0,1,2,50,1457,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,2014-06-06 18:31:44,2,3,158,718,832,NaN,44663,0,0,...,0,1,12471,5,1,1,3,48,153,13
7496,2014-07-03 17:59:54,2,3,66,174,6735,29.1758,44663,0,0,...,0,1,49218,4,0,1,2,50,366,83
7497,2014-07-03 18:21:45,2,3,66,174,6735,66.6492,44663,0,0,...,0,1,24977,6,0,1,2,50,365,37
7498,2014-10-01 07:17:35,2,3,158,718,832,NaN,44663,0,0,...,0,1,12471,5,0,3,3,48,153,13
7499,2014-10-01 07:21:48,2,3,158,718,832,NaN,44663,0,0,...,0,1,12471,5,0,2,3,48,153,13

In [8]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   date_time                  7500 non-null   object
 1   site_name                  7500 non-null   int64
 2   posa_continent             7500 non-null   int64
 3   user_location_country      7500 non-null   int64
 4   user_location_region       7500 non-null   int64
 5   user_location_city         7500 non-null   int64
 6   orig_destination_distance  4479 non-null   float64
 7   user_id                    7500 non-null   int64
 8   is_mobile                  7500 non-null   int64
 9   is_package                 7500 non-null   int64
 10  channel                    7500 non-null   int64
 11  srch_ci                    7497 non-null   object
 12  srch_co                    7497 non-null   object
 13  srch_adults_cnt            7500 non-null   int64
 14  srch_children_cnt          7500 non-null   int64
 15  srch_rm_cnt                7500 non-null   int64
 16  srch_destination_id        7500 non-null   int64
 17  srch_destination_type_id   7500 non-null   int64
 18  is_booking                 7500 non-null   int64
 19  cnt                        7500 non-null   int64
 20  hotel_continent            7500 non-null   int64
 21  hotel_country              7500 non-null   int64
 22  hotel_market               7500 non-null   int64
 23  hotel_cluster              7500 non-null   int64
dtypes: float64(1), int64(20), object(3)
memory usage: 1.4+ MB

In [7]:
train_data.columns

Index(['date_time', 'site_name', 'posa_continent', 'user_location_country',
       'user_location_region', 'user_location_city',
       'orig_destination_distance', 'user_id', 'is_mobile', 'is_package',
       'channel', 'srch_ci', 'srch_co', 'srch_adults_cnt', 'srch_children_cnt',
       'srch_rm_cnt', 'srch_destination_id', 'srch_destination_type_id',
       'is_booking', 'cnt', 'hotel_continent', 'hotel_country', 'hotel_market',
       'hotel_cluster'],
      dtype='object')

# Steps

### Drop the orig_destination_distance column
### Convert the Date Columns from str to Timestamp
### Drop the Following Columns:
##### site_name
##### user_location_country
##### user_location_region
##### orig_destination_distance
##### user_id
##### hotel_continent
##### hotel_country

### We can use Sample function from Pandas to get (https://www.w3schools.com/python/pandas/ref_df_sample.asp)