In [1]:
import pandas as pd

destinations = pd.read_csv("data/destinations.csv")
test = pd.read_csv("data/test.csv")
train = pd.read_csv("data/train.csv")

In [2]:
train.shape

(37670293, 24)

In [3]:
test.shape

(2528243, 22)

In [4]:
train.head(5)

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,...,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
0,2014-08-11 07:46:59,2,3,66,348,48862,2234.2641,12,0,1,...,0,1,8250,1,0,3,2,50,628,1
1,2014-08-11 08:22:12,2,3,66,348,48862,2234.2641,12,0,1,...,0,1,8250,1,1,1,2,50,628,1
2,2014-08-11 08:24:33,2,3,66,348,48862,2234.2641,12,0,0,...,0,1,8250,1,0,1,2,50,628,1
3,2014-08-09 18:05:16,2,3,66,442,35390,913.1932,93,0,0,...,0,1,14984,1,0,1,2,50,1457,80
4,2014-08-09 18:08:18,2,3,66,442,35390,913.6259,93,0,0,...,0,1,14984,1,0,1,2,50,1457,21

In [5]:
train.describe()

,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,channel,...,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
count,3.767029e+07,3.767029e+07,3.767029e+07,3.767029e+07,3.767029e+07,2.414529e+07,3.767029e+07,3.767029e+07,3.767029e+07,3.767029e+07,...,3.767029e+07,3.767029e+07,3.767029e+07,3.767029e+07,3.767029e+07,3.767029e+07,3.767029e+07,3.767029e+07,3.767029e+07,3.767029e+07
mean,9.795271e+00,2.680473e+00,8.610880e+01,3.084060e+02,2.775304e+04,1.970090e+03,6.044518e+05,1.349265e-01,2.489042e-01,5.870761e+00,...,3.321222e-01,1.112663e+00,1.444109e+04,2.582280e+00,7.965675e-02,1.483384e+00,3.156305e+00,8.129685e+01,6.004619e+02,4.980861e+01
std,1.196754e+01,7.480393e-01,5.924310e+01,2.084437e+02,1.678255e+04,2.232442e+03,3.506175e+05,3.416451e-01,4.323782e-01,3.717095e+00,...,7.314981e-01,4.591155e-01,1.106630e+04,2.153019e+00,2.707611e-01,1.219776e+00,1.623189e+00,5.617119e+01,5.117391e+02,2.891595e+01
min,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.600000e-03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.000000e+00,3.000000e+00,6.600000e+01,1.740000e+02,1.300900e+04,3.131670e+02,2.989100e+05,0.000000e+00,0.000000e+00,2.000000e+00,...,0.000000e+00,1.000000e+00,8.267000e+03,1.000000e+00,0.000000e+00,1.000000e+00,2.000000e+00,5.000000e+01,1.600000e+02,2.500000e+01
50%,2.000000e+00,3.000000e+00,6.600000e+01,3.140000e+02,2.765500e+04,1.140491e+03,6.039140e+05,0.000000e+00,0.000000e+00,9.000000e+00,...,0.000000e+00,1.000000e+00,9.147000e+03,1.000000e+00,0.000000e+00,1.000000e+00,2.000000e+00,5.000000e+01,5.930000e+02,4.900000e+01
75%,1.400000e+01,3.000000e+00,7.000000e+01,3.850000e+02,4.241300e+04,2.552599e+03,9.101680e+05,0.000000e+00,0.000000e+00,9.000000e+00,...,0.000000e+00,1.000000e+00,1.879000e+04,5.000000e+00,0.000000e+00,2.000000e+00,4.000000e+00,1.060000e+02,7.010000e+02,7.300000e+01
max,5.300000e+01,4.000000e+00,2.390000e+02,1.027000e+03,5.650800e+04,1.240790e+04,1.198785e+06,1.000000e+00,1.000000e+00,1.000000e+01,...,9.000000e+00,8.000000e+00,6.510700e+04,9.000000e+00,1.000000e+00,2.690000e+02,6.000000e+00,2.120000e+02,2.117000e+03,9.900000e+01

In [6]:
test.describe()

,id,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,channel,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,hotel_continent,hotel_country,hotel_market
count,2.528243e+06,2.528243e+06,2.528243e+06,2.528243e+06,2.528243e+06,2.528243e+06,1.680782e+06,2.528243e+06,2.528243e+06,2.528243e+06,2.528243e+06,2.528243e+06,2.528243e+06,2.528243e+06,2.528243e+06,2.528243e+06,2.528243e+06,2.528243e+06,2.528243e+06
mean,1.264121e+06,9.709666e+00,2.697413e+00,8.551612e+01,3.170341e+02,2.786218e+04,1.686398e+03,6.026459e+05,1.425978e-01,1.093253e-01,6.493726e+00,1.958127e+00,2.507413e-01,1.117410e+00,1.656862e+04,2.941702e+00,3.022615e+00,8.125454e+01,6.464926e+02
std,7.298410e+05,1.227183e+01,7.651288e-01,5.673880e+01,2.082834e+02,1.668788e+04,2.197361e+03,3.469651e+05,3.496623e-01,3.120470e-01,3.931422e+00,8.980415e-01,6.754566e-01,4.615010e-01,1.280502e+04,2.282006e+00,1.674879e+00,5.507528e+01,5.046530e+02
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.600000e-03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,6.320605e+05,2.000000e+00,3.000000e+00,6.600000e+01,1.740000e+02,1.354200e+04,2.080691e+02,3.020785e+05,0.000000e+00,0.000000e+00,2.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,8.267000e+03,1.000000e+00,2.000000e+00,5.000000e+01,2.750000e+02
50%,1.264121e+06,2.000000e+00,3.000000e+00,6.600000e+01,3.180000e+02,2.765500e+04,7.278764e+02,6.041940e+05,0.000000e+00,0.000000e+00,9.000000e+00,2.000000e+00,0.000000e+00,1.000000e+00,1.201200e+04,1.000000e+00,2.000000e+00,5.000000e+01,6.280000e+02
75%,1.896182e+06,1.300000e+01,3.000000e+00,6.900000e+01,3.980000e+02,4.232800e+04,2.222729e+03,9.038295e+05,0.000000e+00,0.000000e+00,1.000000e+01,2.000000e+00,0.000000e+00,1.000000e+00,2.354100e+04,6.000000e+00,4.000000e+00,1.050000e+02,7.830000e+02
max,2.528242e+06,5.300000e+01,4.000000e+00,2.390000e+02,1.027000e+03,5.650900e+04,1.220623e+04,1.198785e+06,1.000000e+00,1.000000e+00,1.000000e+01,9.000000e+00,9.000000e+00,8.000000e+00,6.578000e+04,9.000000e+00,6.000000e+00,2.120000e+02,2.117000e+03

In [7]:
# EDA_and_Cleaning.ipynb (oder .py)

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path

# --- Pfade anpassen ---
DATA_DIR = Path("data")  # ggf. ändern
train_path = DATA_DIR / "train.csv"
test_path = DATA_DIR / "test.csv"
dest_path = DATA_DIR / "destinations.csv"
sample_path = DATA_DIR / "sample_submission.csv"

In [8]:
# --- Laden ---
train = pd.read_csv(train_path, low_memory=False)
test = pd.read_csv(test_path, low_memory=False)
dest = pd.read_csv(dest_path)
sample_sub = pd.read_csv(sample_path)

In [9]:
# --- Basisüberblick ---
print(train.shape, test.shape, dest.shape)
print(train.info())
print(train.isna().mean().sort_values(ascending=False).head(10))

(37670293, 24) (2528243, 22) (62106, 150)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37670293 entries, 0 to 37670292
Data columns (total 24 columns):
 #   Column                     Dtype
---  ------                     -----
 0   date_time                  object
 1   site_name                  int64
 2   posa_continent             int64
 3   user_location_country      int64
 4   user_location_region       int64
 5   user_location_city         int64
 6   orig_destination_distance  float64
 7   user_id                    int64
 8   is_mobile                  int64
 9   is_package                 int64
 10  channel                    int64
 11  srch_ci                    object
 12  srch_co                    object
 13  srch_adults_cnt            int64
 14  srch_children_cnt          int64
 15  srch_rm_cnt                int64
 16  srch_destination_id        int64
 17  srch_destination_type_id   int64
 18  is_booking                 int64
 19  cnt                        int64
 20  hotel_continent            int64
 21  hotel_country              int64
 22  hotel_market               int64
 23  hotel_cluster              int64
dtypes: float64(1), int64(20), object(3)
memory usage: 6.7+ GB
None
orig_destination_distance    0.359036
srch_co                      0.001250
srch_ci                      0.001250
srch_adults_cnt              0.000000
hotel_market                 0.000000
hotel_country                0.000000
hotel_continent              0.000000
cnt                          0.000000
is_booking                   0.000000
srch_destination_type_id     0.000000
dtype: float64

In [10]:
# --- Typen + Datumsspalten ---
for c in ["date_time", "srch_ci", "srch_co"]:
    train[c] = pd.to_datetime(train[c], errors='coerce')
    test[c] = pd.to_datetime(test[c], errors='coerce')

In [11]:
# --- Neue Features ---
train["stay_nights"] = (train["srch_co"] - train["srch_ci"]).dt.days
test["stay_nights"] = (test["srch_co"] - test["srch_ci"]).dt.days
train["search_month"] = train["date_time"].dt.month
train["search_wday"] = train["date_time"].dt.dayofweek
train["search_hour"] = train["date_time"].dt.hour

In [12]:
# --- Missing flags ---
train["missing_orig_dist"] = train["orig_destination_distance"].isna().astype(int)
test["missing_orig_dist"] = test["orig_destination_distance"].isna().astype(int)

In [3]:
# --- Join destinations ---
import pandas as pd

# Laden der Datensätze (Pfad ggf. anpassen)
train = pd.read_csv("data/train.csv")
test = pd.read_csv("data/test.csv")
dest = pd.read_csv("data/destinations.csv")

# --- Nur 10 % Stichprobe ---
train = train.sample(frac=0.1, random_state=42)
test = test.sample(frac=0.1, random_state=42)

# --- Join destinations ---
train = train.merge(dest, how="left", on="srch_destination_id")
test = test.merge(dest, how="left", on="srch_destination_id")

# --- Missing flags ---
train["dest_missing"] = train["d1"].isna().astype(int)
test["dest_missing"] = test["d1"].isna().astype(int)

# --- Fehlende Werte auffüllen ---
train = train.fillna(0)
test = test.fillna(0)

In [8]:
print(dest.columns.tolist())

['srch_destination_id', 'd1', 'd2', 'd3', 'd4', 'd5', 'd6', 'd7', 'd8', 'd9', 'd10', 'd11', 'd12', 'd13', 'd14', 'd15', 'd16', 'd17', 'd18', 'd19', 'd20', 'd21', 'd22', 'd23', 'd24', 'd25', 'd26', 'd27', 'd28', 'd29', 'd30', 'd31', 'd32', 'd33', 'd34', 'd35', 'd36', 'd37', 'd38', 'd39', 'd40', 'd41', 'd42', 'd43', 'd44', 'd45', 'd46', 'd47', 'd48', 'd49', 'd50', 'd51', 'd52', 'd53', 'd54', 'd55', 'd56', 'd57', 'd58', 'd59', 'd60', 'd61', 'd62', 'd63', 'd64', 'd65', 'd66', 'd67', 'd68', 'd69', 'd70', 'd71', 'd72', 'd73', 'd74', 'd75', 'd76', 'd77', 'd78', 'd79', 'd80', 'd81', 'd82', 'd83', 'd84', 'd85', 'd86', 'd87', 'd88', 'd89', 'd90', 'd91', 'd92', 'd93', 'd94', 'd95', 'd96', 'd97', 'd98', 'd99', 'd100', 'd101', 'd102', 'd103', 'd104', 'd105', 'd106', 'd107', 'd108', 'd109', 'd110', 'd111', 'd112', 'd113', 'd114', 'd115', 'd116', 'd117', 'd118', 'd119', 'd120', 'd121', 'd122', 'd123', 'd124', 'd125', 'd126', 'd127', 'd128', 'd129', 'd130', 'd131', 'd132', 'd133', 'd134', 'd135', 'd136', 'd137', 'd138', 'd139', 'd140', 'd141', 'd142', 'd143', 'd144', 'd145', 'd146', 'd147', 'd148', 'd149']

In [9]:
import matplotlib.pyplot as plt
import seaborn as sns

# --- Nur 10% verwenden ---
train_small = train.sample(frac=0.1, random_state=42)
test_small = test.sample(frac=0.1, random_state=42)

# --- Join destinations ---
train_small = train_small.merge(dest, how="left", on="srch_destination_id")
test_small = test_small.merge(dest, how="left", on="srch_destination_id")

train_small["dest_missing"] = train_small["d1"].isna().astype(int)
test_small["dest_missing"] = test_small["d1"].isna().astype(int)

train_small = train_small.fillna(0)
test_small = test_small.fillna(0)

# --- Schnelle Plausibilitätsplots ---
plt.figure(figsize=(6,4))
sns.histplot(train_small["stay_nights"], bins=30, kde=False)
plt.title("Stay length distribution (10%)")
plt.show()

plt.figure(figsize=(6,3))
train_small["hotel_cluster"].value_counts(normalize=True).head(10).plot(kind="bar")
plt.title("Top 10 Hotel Clusters (10%)")
plt.show()

KeyError: 'd1'

In [ ]:
# EDA_and_Cleaning.ipynb (oder .py)

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path

# --- Pfade anpassen ---
DATA_DIR = Path("/mnt/data")  # ggf. ändern
train_path = DATA_DIR / "train.csv"
test_path = DATA_DIR / "test.csv"
dest_path = DATA_DIR / "destinations.csv"
sample_path = DATA_DIR / "sample_submission.csv"

# --- Laden ---
train = pd.read_csv(train_path, low_memory=False)
test = pd.read_csv(test_path, low_memory=False)
dest = pd.read_csv(dest_path)
sample_sub = pd.read_csv(sample_path)

# --- Basisüberblick ---
print(train.shape, test.shape, dest.shape)
print(train.info())
print(train.isna().mean().sort_values(ascending=False).head(10))

# --- Typen + Datumsspalten ---
for c in ["date_time", "srch_ci", "srch_co"]:
    train[c] = pd.to_datetime(train[c], errors='coerce')
    test[c] = pd.to_datetime(test[c], errors='coerce')

# --- Neue Features ---
train["stay_nights"] = (train["srch_co"] - train["srch_ci"]).dt.days
test["stay_nights"] = (test["srch_co"] - test["srch_ci"]).dt.days
train["search_month"] = train["date_time"].dt.month
train["search_wday"] = train["date_time"].dt.dayofweek
train["search_hour"] = train["date_time"].dt.hour

# --- Missing flags ---
train["missing_orig_dist"] = train["orig_destination_distance"].isna().astype(int)
test["missing_orig_dist"] = test["orig_destination_distance"].isna().astype(int)

# --- Join destinations ---
train = train.merge(dest, how="left", on="srch_destination_id")
test = test.merge(dest, how="left", on="srch_destination_id")
train["dest_missing"] = train["d1"].isna().astype(int)
test["dest_missing"] = test["d1"].isna().astype(int)
train = train.fillna(0)
test = test.fillna(0)

# --- Schnelle Plausibilitätsplots ---
plt.figure(figsize=(6,4))
sns.histplot(train["stay_nights"], bins=30, kde=False)
plt.title("Stay length distribution")
plt.show()

# Zielverteilung
plt.figure(figsize=(6,3))
train["hotel_cluster"].value_counts(normalize=True).head(10).plot(kind="bar")
plt.title("Top 10 Hotel Clusters")
plt.show()